<h3> Tasks </h3>
<ul id="tasks">
  <% for task in @project.tasks %>
    <li>
    <%= f.label :description %>
    <%= f.text_field :description, :value => task.description %>
    <%= f.label :email, "Assign To:" %>
    <%= f.text_field :email, :value => task.email %>
    <%= f.label :status, "Status:" %>
    <%= select_tag("Status", options_for_select(["Not Started", "In Progress", "Need Help", "Completed"], task.status)) %>
   <%= link_to "remove", '#', onclick: 'remove_task(this)' %>
  </li>
  <% end %>
</ul>

<%= link_to "Add Tasks", '#', onclick: 'add_tasks(this)' %> <br/>
