<!DOCTYPE html>
<html>
<head>
  <title> doitsometi.me</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <a href="<%=projects_path %>"> <h3> Do it sometime </h3> </a>
    <div id="user" >
      <% if current_user %>
      Welcome, <%= current_user.name %>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
  </div>
  <div id="sidebar">
    <% if current_user %>
    <div class = "plus-minus-buttons">
      <h1> <%= link_to "Projects", projects_path%> </h1>
      <a onclick="toggleDeleteButtons()" class='button'>
        <%= button_tag do %>
        -
        <% end %>
      </a>
      <%= button_tag do %>
      <%= link_to "+", new_project_path, class: 'button' %>
      <% end %>
    </div>
    <ul id="projects" data-deleteisshown='false'>
      <% for project in @projects %>
      <li id = "project_<%=project.id %>" > <%= project.name %> <%= link_to ">", project %></li>
      <% end %>
    </ul>
    <p id="notice"><%= notice %></p>
    <% else %>
    <h1> Please sign in </h1>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <% end %>
  </div>
  <div id="content">
    <% if current_user %>
    <%= yield %>
    <% end %>
  </div>
</body>
</html>
